<h1>员工列表</h1>
<%
=begin%>
 <div class="button-right">
<%= link_to "新增员工", new_staff_path %>
</div> 
<%
=end%>



<table class="table">
  <thead>
    <tr>
      <td>员工名</td>
      <td>电话号</td>
      <td>状态</td>
      <td>授权</td>
    </tr>
  </thead>
  <tbody>
    <%= render @staffs %>
  </tbody>
</table>
<div class="paginate">
<%= paginate @staffs %>
<div>


