<h1>任务类型列表</h1>

<div class="button-right">
<%= link_to "新增任务类型", new_type_path %>
</div> 

<table class="table">
  <thead>
    <tr>
      <td>任务类型名</td>
      <td>系数</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <%= render @types %>
  </tbody>
</table>
<div class="paginate">
<%= paginate @types %>
<div>


