    <tr>
      <td><%= type.name %></td>
      <td><%= type.point_factor %></td>

      <td class="link-container">
           <%= link_to "編輯", edit_type_path(type), class: "custom-link" %>
      </td>
    </tr>