
    <tr>
      <td><%= project.name %></td>
      <td><%= project.staff.name if project.staff%></td>
      <td><%= project.amount %></td>
      <td>
        <%= link_to "編輯", edit_project_path(project) %>

      </td>
    </tr>