<h1>项目列表</h1>
<div class="button-right">
<%= link_to "新增项目", new_project_path %>
</div>



<table class="table">
  <thead>
    <tr>
      <td>项目名</td>
      <td>项目发起人</td>
      <td>项目金额</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
  <%
=begin%>
 <%= render partial: "project", collection: @projects %> 
<%
=end%>
  <%= render @projects %>
  </tbody>
</table>
<div class="paginate">
<%= paginate @projects %>
<div>

